.env
*.png

# DEV DIR
.idea/
.vscode/
env/
deploy/*
!deploy/s95-bot.service.example
!deploy/requirements.txt

# CACHES
*__pycache__/
.instapi_cache/
utils/__pycache__

service_scripts/

# TESTS
.coverage
htmlcov/
