aiodns~=2.0
aiogram~=2.12
asyncpg~=0.26.0
fuzzywuzzy>=0.18.0
geopy==2.1.0
inst-api~=0.3.0
lxml~=4.9.1
openpyxl~=3.0.7
pycparser~=2.20
python-dotenv>=0.17.0
python-barcode~=0.14.0
python-Levenshtein>=0.12.2
rollbar~=0.16.3
seaborn>=0.11.1
