<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Телеграм бот, предоставляющий информацию и статистику по результатам паркрана. Обрабатывается информация только по российским паркранам.">
    <meta name="author" content="Yuriy Volodin">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/pics/bot/logo.jpg" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="static/icons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <!-- Custom settings -->
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="static/custom.css">
    <title>Телеграм бот: @parkrunnerbot</title>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/pics/bot/logo.jpg" alt="" width="60" height="60">
    <h1 class="display-5 fw-bold">Parkrunner bot</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><a style="text-decoration: none" href="https://t.me/s/parkrunnerbot">@parkrunnerbot</a>
            размещён на бесплатном сервисе HEROKU.
            В силу действующих ограничений, приложение "засыпает" после 30 минут
            неактивности. Просьба отнестись с пониманием и не удивляться, что иногда бот отвечает с заметной
            задержкой&nbsp;&mdash; требуется некоторое время, чтобы приложение снова стартовало (около 30 секунд).</p>
        <p class="lead mb-4">Бот может работать как в режиме персонального диалога, так и в режиме группового чата,
            для чего его необходимо добавить в соответствующий чат.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://t.me/s/parkrunnerbot">Начать
                диалог</a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Возможные проблемы</h1>
        <p class="lead mb-4">Вы отправили сообщение, но бот не ответил.</p>
        <ol>
            <li>Возможно, бот заснул и ему нужно время, чтобы снова стартовать. Отправьте сообщение Бот, привет.</li>
            <li>И подождите около 30 секунд. Если бот так ничего и не ответит, значит он упал с какой-то ошибкой.</li>
            <li>Можете сообщить об этом разработчику (контакты внизу).</li>
        </ol>
        <p class="lead mb-4">Пропала клавиатура с главным меню.</p>
        <ol>
            <li>Отправьте команду /start</li>
        </ol>
        <p class="lead mb-4">Не работают некоторые кнопки</p>
        <ol>
            <li>Некоторые функции работают только если вы выбрали конкретный паркран и клуб.
                Перейдите в меню Настройки, выберите интересующий вас паркран, затем выберите клуб.</li>
        </ol>
        <p class="lead mb-4">Я не вижу свой паркран/клуб в выпадающем списке.</p>
        <ol>
            <li>Прокрутите список дальше, он подгружается динамически.</li>
            <li>Если список "застрял", верните его немного назад, затем попробуйте снова прокрутить вперёд.</li>
        </ol>
        <p class="lead mb-4">Бот перешёл в inline режим, но меню не отобразилось.</p>
        <ol>
            <li>Если меню долго не использовалось и его нет в кэше, боту нужно некоторое время,
                чтобы сделать все необходимые запросы и обработать информацию.</li>
            <li>Как-правило, надо просто подождать 1-3 секунды.</li>
        </ol>
        <p class="lead mb-4">Бот тормозит, какие-то функции работают долго.</p>
        <ol>
            <li>Надо понимать, что боту приходится делать достаточно можно дополнительных запросов и вычислений.
            Поэтому некоторые функции в принципе работают не быстро.</li>
            <li>Если вы сталкиваетесь с тем, что какакая-то функция постоянно тормозит или вообще не работает,
            можете отправить разработчику описание проблемы (постепенно будет вестись работа по оптимизации кода,
                кэшированию и предзагрузке часто используемых данных).</li>
        </ol>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Команды бота</h1>
            <p class="lead">Командный режим не является основным, обычно коммуникация с ботом происходит через
                запросы и кнопки, однако есть несколько базовых команд:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><kbd>/start</kbd> выводит начальное приветствие с основной информацией о
                    боте, отображается главная клавиатура
                </li>
                <li class="list-group-item"><kbd>/help</kbd> либо <kbd>/помощь</kbd> выведет ссылку на данный сайт и
                    версию бота
                </li>
                <li class="list-group-item"><kbd>/settigs</kbd> покажет кнопки для выбора и сохранения паркрана и/или
                    клуба.
                </li>
                <li class="list-group-item"><kbd>/admin</kbd> либо <kbd>/админ</kbd> покажет одного из администраторов
                    группового чата.
                </li>
            </ul>
            <p class="lead">Через пару секунд появится меню, из которого можно выбрать нужный вариант информации.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Inline запросы</h1>
            <p class="lead">Есть <b>inline</b> режим запросов&nbsp;&mdash; наберите в поле ввода сообщения <kbd>@parkrunnerbot
                запрос</kbd>, например</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@parkrunnerbot погода</li>
                <li class="list-group-item">@parkrunnerbot паркран</li>
                <li class="list-group-item">@parkrunnerbot воздух</li>
                <li class="list-group-item">@parkrunnerbot старты</li>
            </ul>
            <p class="lead">Через пару секунд появится меню, из которого можно выбрать нужный вариант информации.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Информация о погоде и загрязнении воздуха</h1>
            <p class="lead">Про погоду и степень загрязнения воздуха в данный момент можно также спросить напрямую,
                отправив сообщение с указанием места, например</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Бот, погода Москва Кузьминки</li>
                <li class="list-group-item">Бот, воздух Кисловодск</li>
            </ul>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Информация о персональном результате</h1>
            <p class="lead">При запросе _Бот, паркран Фамилия_, бот попытается найти результат участника с указанной
                фамилией на последнем
                загруженном в систему паркране. Если маркеры наползают друг на друга, можно повернуть надпись,
                указав целое количество градусов поворота, например, _Бот, паркран Фамилия 45_&nbsp;&mdash; надписи
                повернутся на
                45°.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Общение с ботом</h1>
            <p class="lead">Если отправлять сообщения _Бот паркран_, _Бот, инстаграм_, бот будет находить картинки или
                новости. Бот _не чувствителен_ к знакам пунктуации, регистру букв, и, в большинстве случаев, к порядку
                фраз. Кроме того, с ботом можно просто поболтать - отправьте сообщение, начинающееся словом *бот*.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Strava Weather App</h1>
            <p class="fs-5 mb-4">Ещё один мой проект - погодное приложение для Strava
                <a style="text-decoration: none" href="http://strava.pythonanywhere.com/">strava.pythonanywhere.com</a>
                &mdash; автоматическое добавление в описание тренировок информации о погоде и воздухе.</p>
            <p class="fs-5 mb-4">При подключении можно выбрать какие показатели будут добавляться.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                   href="http://strava.pythonanywhere.com/">Strava Weather App</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
            <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                <img class="d-block rounded-lg-3" src="static/pics/bot/stravawa.png" alt="Strava с данными о погоде"
                     width="1000">
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider mb-0"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">От разработчика</h1>
            <p class="fs-5 mb-4">Если у вас есть замечания, интересные идеи и предложения,
                которыми вы хотите поделиться, пишите мне в телеграм
                <a style="text-decoration: none" href="https://t.me/s/vol1ura">@vol1ura</a>.</p>
            <p class="fs-5 mb-4">Если вам понравился бот и вы хотите, чтобы его функционал развивался, можете
                поддержать разработку переводом любой суммы на карточку сбера 5469&nbsp;3800&nbsp;8020&nbsp;7367.</p>
            <p class="fs-5 mb-4">Мои контакты</p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                   href="https://www.strava.com/athletes/2843469">Strava</a>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                   href="https://www.instagram.com/urka_runner/">Instagram</a>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                   href="https://t.me/s/vol1ura">Telegram</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
            <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                <img class="d-block rounded-lg-3" src="static/pics/bot/urka.png" alt="" width="520">
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider mb-0"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
