<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Телеграм бот: @parkrunnerbot</title>
</head>
<body>
<h1>Parkrunner bot</h1>

<p><a href="https://t.me/s/parkrunnerbot">@parkrunnerbot</a> размещён на бесплатном сервисе HEROKU.
    В силу действующих ограничений, приложение "засыпает" после 30 минут
    неактивности. Просьба отнестись с пониманием и не удивляться, что иногда бот отвечает с заметной
    задержкой - требуется некоторое время, чтобы приложение снова стартовало.</p>

<h2>Inline запросы</h2>
<p>Есть <b>inline</b> режим запросов - наберите в поле ввода сообщения @parkrunnerbot <i>запрос</i> (примеры):</p>
<ul>
    <li>@parkrunnerbot погода</li>
    <li>@parkrunnerbot паркран</li>
    <li>@parkrunnerbot воздух</li>
    <li>@parkrunnerbot старты</li>
</ul>
<p>Через пару секунд появится меню, из которого можно выбрать нужный вариант информации.</p>

<h2>Информация о погоде и загрязнении воздуха</h2>
<p>Про погоду и воздух можно также спросить напрямую, например, _Бот, погода Москва Кузьминки_, либо
    _Бот, воздух Кисловодск_.</p>

<h2>Информация о персональном результате</h2>
<p>При запросе _Бот, паркран Фамилия_, бот попытается найти результат участника с указанной фамилией на последнем
    загруженном в систему паркране. Если маркеры наползают друг на друга, можно повернуть надпись,
    указав целое количество градусов поворота, например, _Бот, паркран Фамилия 45_ - надписи повернутся на 45°.</p>

<h2>Общение с ботом</h2>
<p>Если отправлять сообщения _Бот паркран_, _Бот, инстаграм_, бот будет находить картинки или новости.
    Бот _не чувствителен_ к знакам пунктуации, регистру букв, и, в большинстве случаев, к порядку фраз.
    Кроме того, с ботом можно просто поболтать - отправьте сообщение, начинающееся словом *бот*.
</p>

<h3>От разработчика</h3>
<p>Если у вас есть замечания, интересные идеи и предложения, пишите мне в телеграм
    <a href="https://t.me/s/vol1ura">@vol1ura</a>.</p>
<p>Если вам понравилось приложение и вы хотите чтобы оно и дальше развивалось, можете поддержать
    разработчика любой суммой на карточку сбера 0000&nbsp;0000&nbsp;0000&nbsp;0000. У меня ещё много идей!</p>

<p>Ещё один мой проект - погодное приложение для Strava
    <a href="http://strava.pythonanywhere.com/">strava.pythonanywhere.com</a> - автоматическое добавление
    в описание тренировок информации о погоде и воздухе (можно настроить).</p>

<h4>Мои контакты</h4>
<ul>
    <li>Telegram: <a href="https://t.me/s/vol1ura">@vol1ura</a></li>
    <li>Strava: <a href="https://www.strava.com/athletes/2843469">urka_runner</a></li>
    <li>Instagram: <a href="https://www.instagram.com/urka_runner/">@urka_runner</a></li>
</ul>
</body>
</html>