name: Quality&Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  LANG: ru_RU.UTF-8

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up locale
      run: |
        sudo locale-gen ru_RU.UTF-8
        sudo update-locale LANG=ru_RU.UTF-8
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install flake8
        pip install -r tests/requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest --cov-report=xml --cov=. tests/
      env:
        API_BOT_TOKEN: ${{ secrets.API_BOT_TOKEN }}
        OWM_TOKEN: ${{ secrets.OWM_TOKEN }}
        WEBHOOK: ${{ secrets.WEBHOOK }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        GOOGLE_CX: ${{ secrets.GOOGLE_CX }}
        VK_SERVICE_TOKEN: ${{ secrets.VK_SERVICE_TOKEN }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        directory: ./coverage/reports/
        name: codecov-umbrella
        fail_ci_if_error: true
        path_to_write_report: ./coverage/codecov_report.txt
        verbose: false
